<div class="row">
  <div class="col-auto">
    <h2>Blogs</h2>
  </div>
</div>
{{format_date }}
<div class="row mt-4">
  {{#if blogs.length}}
  <div class="col-md-6 project-list">
    <h3>Blogs:</h3>

    {{#each blogs as |blog|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h3><a href="/blog/{{blog.id}}">{{blog.title}}</a></h3>
      </div>
    </div>
    {{/each}}
  </div>
  {{else}}
  <div>
    <h2> No blogs yet!</h2>
  </div>
  {{/if}}
</div>
